body {
    background-image: url('https://www.asadigital.net/img/main1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

h1 {
    margin: 0;
}

.swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.swiper-wrapper {
    width: 300px;
}

.swiper-slide {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 10px;
}
